<%= form_for @classroom, :html => { :class => "form-horizontal" } do |f| %>
	<% if @classroom.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@classroom.errors.count, "error") %> prohibited this classroom from being saved:</h2>

			<ul>
				<% @classroom.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="form-group">
		<%= f.label :course_id, :class => "col-sm-4 control-label" %>
		<div class="col-sm-8">
			<%= f.select :course_id, [["None", nil]] + Course.all.map {|c| [c.name, c.id]}, :class => "form-control course-id-typeahead typeahead selectpicker" %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :teacher_name, :class => "col-sm-4 control-label" %>
		<div class="col-sm-8">
			<%= f.text_field :teacher_name, :class => "form-control teacher-name-typeahead typeahead" %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :description, :class => "col-sm-4 control-label" %>
		<div class="col-sm-8">
			<%= f.text_area :description, :class => "form-control" %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :period, :class => "col-sm-4 control-label" %>
		<div class="col-sm-8">
			<%= f.number_field :period, :class => "form-control" %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-4 col-sm-8">
			<%= f.submit class: "btn btn-success" %>
		</div>
	</div>

<% end %>
