<div class="page-header">
	<h1>Listing classes</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Course</th>
      <th>Teacher</th>
      <th>Period</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @classrooms.each do |classroom| %>
      <tr>
        <td><%= link_to classroom.course.name, classroom.course %></td>
        <td><%= link_to classroom.teacher.name, classroom.teacher %></td>
        <td><%= classroom.period %></td>
        <td>
			<div class="btn-group btn-group-xs">
				<%= link_to 'Show', classroom, class: 'btn btn-primary btn-xs' %>
				<%= link_to 'Edit', edit_classroom_path(classroom), class: 'btn btn-default btn-xs' %>
				<%= link_to 'Destroy', classroom, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
			</div>
		</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Classroom', new_classroom_path, class: "btn btn-primary" %>
