<div class="page-header">
	<h1><%= @assignment.name %></h1>
</div>

<p>
	For <a href="<%= classroom_path(@assignment.classroom) %>"><%= @assignment.classroom.teacher.name %>'s <%= @assignment.classroom.period.ordinalize %> period <%= @assignment.classroom.course.name %> class</a>.
</p>

<p>
	Due <%= @assignment.due_date %>.
</p>

<p><%= @assignment.description %></p>

<div class="btn-group">
	<%= link_to 'Edit', edit_assignment_path(@assignment), class: "btn btn-primary" %>
	<%= link_to 'Back', classroom_path(@assignment.classroom), class: "btn btn-default" %>
</div>
