<div class="page-header">
	<h1>My Docket</h1>
</div>

<% @days_of_this_week.each do |day| %>
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-8">
				<b><%= Date::DAYNAMES[day.wday] %></b>, the <b><%= day.mday.ordinalize %></b> of <b><%= Date::MONTHNAMES[day.month] %></b>
			</div>

			<% day_assignments = current_user.day_assignments(day) %>
			<% day_exams = current_user.day_exams(day) %>
			<% day_assignments_and_exams = day_assignments + day_exams %>
			<% day_events = current_user.day_events(day) %>

			<% day_items = day_assignments + day_exams + day_events %>

			<div class="col-md-4">
				<span class="badge"><%= day_assignments.count %></span>
				<span class="badge"><%= day_exams.count %></span>
				<span class="badge"><%= day_events.count %></span>

				~

				<span class="badge"><%= day_items.count %></span>
			</div>
		</div>
	</div>

	<div class="panel-body row">
		<div class="col-md-8">
			<% if day_assignments_and_exams.count == 0 %>
				No assignments or exams.
			<% else %>
				<div class="row">
					<% current_user.classes_with_activities_on(day).sort! {|first, last| first.period <=> last.period }.each do |classroom| %>
						<div class="col-md-12">
							<b><%= link_to classroom.course_name, classroom, class: "link-no-underline" %></b>
						</div>
						<div class="col-md-1"></div>
						<div class="col-md-11">
							<% day_things = classroom.day_assignments(day) + classroom.day_exams(day) %>
							<% if day_things.count == 0 %>
								Nothing to do today.
							<% else %>
								<% day_things.each do |day_thing| %>
									<% if day_thing.class == Assignment %>
										<%= link_to day_thing.name, day_thing, class: "link-no-underline" %> is due today.
									<% elsif day_thing.class == Exam %>
										Exam <%= link_to day_thing.name, day_thing, class: "link-no-underline" %> is today.
									<% else %>
										Something bad happened.
									<% end %>
								<% end %>
							<% end %>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>

		<div class="col-md-4">
			<% if day_events.count == 0 %>
				No events.
			<% else %>
				<div class="row">
				<% day_events.each do |event| %>
					<div class="col-md-12">
						<%= link_to event.name, event, class: "link-no-underline" %> @ <%= event.date.strftime("%H:%M") %>
					</div>
				<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>
<% end %>
