<div class="page-header">
	<h1>My Docket</h1>
</div>

<% @days_of_this_week.each do |day| %>
<div class="panel panel-default">
	<div class="panel-heading">
		<b><%= Date::DAYNAMES[day.wday] %></b>, the <b><%= day.mday.ordinalize %></b> of <b><%= Date::MONTHNAMES[day.month] %></b>
	</div>

	<div class="panel-body row">
		<div class="col-md-8">
			<% day_assignments_and_exams = current_user.day_assignments(day) + current_user.day_exams(day) %>
			<% if day_assignments_and_exams.count == 0 %>
				No assignments or exams.
			<% else %>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Type</th>
							<th>Name</th>
							<th>Class</th>
						</tr>
					</thead>
					<tbody>
						<% day_assignments_and_exams.each do |thing| %>
						<tr>
							<td><%= thing.class == Assignment ? "Assignment Due" : thing.class == Exam ? "Exam to Take" : "Something" %>
							<td><%= thing.name %></td>
							<td><%= thing.classroom.name %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			<% end %>
		</div>

		<div class="col-md-4">
			<% day_events = current_user.day_events(day) %>
			<% if day_events.count == 0 %>
				No events.
			<% else %>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Name</th>
						</tr>
					</thead>
					<tbody>
						<% day_events.each do |event| %>
						<tr>
							<td><%= event.name %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			<% end %>
		</div>
	</div>
</div>
<% end %>
