<div class="page-header">
	<h1>My Docket</h1>
</div>

<% @days_of_this_week.each do |day| %>
<div class="panel panel-default">
	<div class="panel-heading">
		<b><%= Date::DAYNAMES[day.wday] %></b>, the <b><%= day.mday.ordinalize %></b> of <b><%= Date::MONTHNAMES[day.month] %></b>
	</div>

	<div class="panel-body row">
		<div class="col-md-8">
			<% day_assignments_and_exams = current_user.day_assignments(day) + current_user.day_exams(day) %>
			<% if day_assignments_and_exams.count == 0 %>
				No assignments or exams.
			<% else %>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Type</th>
							<th>Name</th>
							<th>Class</th>
							<th>Date</th>
						</tr>
					</thead>
					<tbody>
						<% day_assignments_and_exams.each do |thing| %>
						<tr>
							<td><%= thing.class == Assignment ? "Assignment Due" : thing.class == Exam ? "Exam to Take" : "Something" %>
							<td><%= thing.name %></td>
							<td><%= thing.classroom.name %></td>
							<td><%= thing.class == Assignment ? thing.due_date : thing.date %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			<% end %>
		</div>

		<div class="col-md-4">
			<!-- TODO: Implement. -->
			Events.
		</div>
	</div>
</div>
<% end %>

<!--<h2>This week:</h2>
<h3>Assignments</h3>
<%# if @this_week_assignments.empty? %>
	No assignments for this week.
<%# else %>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Class</th>
				<th>Date</th>
			</tr>
		</thead>

		<tbody>
			<%# @this_week_assignments.sort_by(&:due_date).each do |assignment| %>
				<tr>
					<td><%# link_to assignment.name, assignment %></td>
					<td><%# link_to assignment.classroom.name, assignment.classroom %></td>
					<td><%# assignment.due_date %></td>
				</tr>
			<%# end %>
		</tbody>
	</table>
<%# end %>

<h3>Exams</h3>
<%# if @this_week_exams.empty? %>
	No exams for this week.
<%# else %>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Class</th>
				<th>Date</th>
			</tr>
		</thead>

		<tbody>
			<%# @this_week_exams.sort_by(&:date).each do |exam| %>
				<tr>
					<td><%# link_to exam.name, exam %></td>
					<td><%# link_to exam.classroom.name, exam.classroom %></td>
					<td><%# exam.date %></td>
				</tr>
			<%# end %>
		</tbody>
	</table>
<%# end %>

<h3>Events</h3>
<% if @this_week_events.empty? %>
	No events for this week.
<% else %>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Class</th>
				<th>Date</th>
			</tr>
		</thead>

		<tbody>
			<% @this_week_events.sort_by(&:date).each do |event| %>
				<tr>
					<td><%= link_to event.name, event %></td>
					<td><%= link_to event.classroom.name, event.classroom %></td>
					<td><%= event.date %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>

-->

<!--
<h2>Other assignments, exams, and events.</h2>
<%# if @other_things.empty? %>
	No other assignments or exams.
<%# else %>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Type</th>
				<th>Name</th>
				<th>Class</th>
				<th>Date/Due Date</th>
			</tr>
		</thead>

		<tbody>
			<%# @other_things.each do |assignment| %>
				<tr>
					<td><%# assignment.class.to_s %></td>
					<td><%# link_to assignment.name, assignment %></td>
					<td>
						<%# if assignment.class == Event %>
							N/A
						<%# else %>
							<%# link_to assignment.classroom.name, assignment.classroom %>
						<%# end %>
					</td>
					<td><%# relevant_date assignment %></td>
				</tr>
			<%# end %>
		</tbody>
	</table>
<%# end %>
-->
