<h1>Listing users</h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Graduation year</th>
			<th>Controls</th>
		</tr>
	</thead>

	<tbody>
		<% @users.each do |user| %>
		<tr>
			<td><%= user.name %></td>
			<td><%= user.email %></td>
			<td><%= user.graduation_year %></td>
			<td><%= link_to 'Show', user %>
				<%= link_to 'Edit', edit_user_path(user) %>
				<%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
