<div class="page-header">
	<h1><%= @teacher.name %></h1>
</div>

<p>
	<strong>Email:</strong>
	<%= mail_to @teacher.email %>
</p>

<h2>Classes</h2>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Course</th>
			<th>Period</th>
			<th>Actions</th>
		</tr>
	</thead>

	<tbody>
		<% @teacher.classrooms.sort_by(&:period).each do |classroom| %>
			<tr>
				<td><%= link_to classroom.course.name, classroom %></td>
				<td><%= classroom.period %></td>
				<td>
					<div class="btn-group btn-group-xs">
						<%= link_to 'Edit', edit_classroom_path(classroom), class: 'btn btn-default btn-xs' %>
						<%= link_to 'Destroy', classroom, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
					</div>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<div class="btn-group">
	<%= link_to 'Edit', edit_teacher_path(@teacher), class: "btn btn-primary" %>
	<%= link_to 'Back', teachers_path, class: "btn btn-default" %>
</div>
