<div class="page-header">
	<h1>Listing exams</h1>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Class</th>
			<th>Date</th>
			<th>Actions</th>
		</tr>
	</thead>

	<tbody>
		<% @exams.sort_by(&:date).each do |exam| %>
			<tr>
				<td><%= link_to exam.name, exam %></td>
				<td><%= link_to exam.classroom.name, exam.classroom %></td>
				<td><%= exam.date %></td>
				<td>
					<div class="btn-group btn-group-xs">
						<%= link_to "Edit", edit_exam_path(exam), class: 'btn btn-default btn-xs' %>
						<%= link_to "Destroy", exam, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
					</div>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= link_to 'New Exam', new_exam_path, class: "btn btn-primary" %>
