<!DOCTYPE html>

<html>
	<head>
		<title>Docket</title>
		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag "application" %>
		<% unless (yield :javascripts).blank? %>
			<script type="text/javascript">
				<%= yield :javascripts %>
			</script>
		<% end %>
		<%= javascript_include_tag "turbolinks" %>
		<%= csrf_meta_tags %>
	</head>

	<body>
		<%= navbar :brand => "Docket", :brand_link => root_url, :fixed => :top, :container => false do %>
			<%= navbar_group :class => "foo", :id => "menu" do %>
				<%= navbar_text (current_user ? "Logged in as " + current_user.name : "Not logged in") %>
				<%= navbar_item "Log out", log_out_path if current_user %>
				<!-- <%= navbar_item "My Docket", docket_path %> -->
				<%= navbar_item "Teachers", teachers_path %>
				<%= navbar_item "Courses", courses_path %>
				<%= navbar_item "Classes", classrooms_path %>
			<% end %>
		<% end %>

		<article>
			<% if flash[:notice] %>
				<div class="alert alert-success alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<%= flash[:notice] %>
				</div>
			<% end %>
			<% if flash[:alert] %>
				<div class="alert alert-danger alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<%= flash[:alert] %>
				</div>
			<% end %>
			<div class="row">
				<div class="col-md-2"></div>

				<div class="col-md-8">
					<%= yield %>
				</div>

				<div class="col-md-2"></div>
			</div>
		</article>
	</body>
</html>
