<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Docket</title>
		<%= favicon_link_tag "favicon.ico" %>
		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag "application" %>
		<% unless (yield :javascripts).blank? %>
			<script type="text/javascript">
				<%= yield :javascripts %>
			</script>
		<% end %>
		<%= javascript_include_tag "turbolinks" %>
		<%= csrf_meta_tags %>
	</head>

	<body>
		<%= navbar fixed: :top do %>
		<div class="row">
			<div class="<%= current_user ? "col-md-10 col-md-offset-1" : "col-md-8 col-md-offset-2"%>">
			<%= navbar_header brand: "Docket", brand_link: root_url%>
			<%= navbar_group class: "foo", id: "menu" do %>
				<%= navbar_item "Events", events_path %>
				<%= navbar_item "Teachers", teachers_path %>
				<%= navbar_item "Courses", courses_path %>
				<%= navbar_item "Classes", classrooms_path %>
			<% end %>
			<%= navbar_group align: "right" do %>
				<% if current_user %>
					<%= navbar_item "My Account", edit_polymorphic_path(current_user) %>
					<%= navbar_text "Logged In as " + current_user.name %>
					<%= navbar_item "Log Out", log_out_path %>
				<% else %>
					<%= navbar_text "Not Logged In" %>
					<%= navbar_item "Sign Up", new_user_path %>
				<% end %>
			<% end %>
			</div>
		</div>
		<% end %>

		<div id="wrap">
			<article>
				<div class="row">
					<div class="<%= current_user ? "col-md-10 col-md-offset-1" : "col-md-8 col-md-offset-2"%>">
						<% class_hash = {alert: "alert-danger", notice: "alert-success"} %>
						<% [:alert, :notice].each do |type| %>
							<% if flash[type] %>
								<div class="alert <%= class_hash[type] %> alert-dismissable">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
									<%= flash[type] %>
								</div>
							<% end %>
						<% end %>
					</div>
				</div>

			<% if current_user %>
				<div class="row">
					<div class="col-md-7 col-md-offset-1">
						<%= yield %>
					</div>

					<div class="col-md-3 col-md-offset-0 visible-md visible-lg sidebar-col">
						<div class="panel panel-default" data-spy="affix" data-clampedwidth=".sidebar-col">
							<div class="panel-heading">
								Schedule
							</div>

							<% if !current_user || current_user.classrooms.empty? %>
								<div class="panel-body">
									<p>No classes!</p>
								</div>
							<% else %>
								<div class="list-group">
									<% current_user.classrooms.sort_by(&:period).each do |classroom| %>
										<% lgclass = (request.path == classroom_path(classroom) ? "active" : "") %>
										<div class="list-group-item text-truncate schedule-item btn-group <%= lgclass %>">
											<a class="btn btn-default schedule-btn"
											   title="New assignment"
											   href="<%= new_assignment_path + "?classroom_id=" + classroom.id.to_s %>">
												<%= fa_icon("pencil", class: "fa-fw") %>
											</a>

											<a class="btn btn-default schedule-btn"
											   title="New exam"
											   href="<%= new_exam_path + "?classroom_id=" + classroom.id.to_s %>">
												<%= fa_icon("file-text-o", class: "fa-fw") %>
											</a>

											<a class="link-no-underline btn btn-default schedule-btn"
											   href="<%= classroom_path(classroom) %>">
												<div class="schedule-item-last-contents">
													<div class="text-truncate"><%= classroom.course.name %></div>

													<div class="label label-default"><%= classroom.period.to_s %></div>
												</div>
											</a>
										</div>
									<% end %>
								</div>
							<% end %>
						</div>
					</div>
				</div>
			<% else %>
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<%= yield %>
					</div>
				</div>
			<% end %>
		</article>

		<%= render :partial => "partials/footer" %>
	</body>
</html>
